img.draggable {
	position: absolute;
    top: 5px;
    left: 0px;
    z-index: 1;
}

img.oferta {
	display: none;
	position:absolute !important;;
	overflow:hidden;
  	top: -6px;
  	left: -15px;
}

.forward .payments {
    display: inline-block;
    margin-right: 30px;
    vertical-align: top;
}

div.insurer-inactive {
	font-size: 16px;
	text-align: center;
}

a.btn,
button.btn {
	margin-top: 2px;
	padding-left: 10px;
	padding-right: 10px;
	width: 76px;
	height: 19px;
	font-size: 11px !important;
}

div.in-cash {
	font-size: 18px;
	font-weight: bold;
}

div.forward a {
	font-size: 14px;
	color: #777;
	webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

div.forward a:hover {
	cursor: pointer;
	color: #333;
	font-size: 16px;
}

div.result-actions span:hover {
	cursor: pointer;
}

img.insurer-badge {
	width: 50px;
	padding: 0;
	webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

img.insurer-badge:hover {
	cursor: pointer;
    webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.comission {
	height: 23px!important;
	line-height: 0!important;
}

.timeout-icon,
.alert-icon {
	width: 100px;
	margin-top: 13px;
	float: left;
}

.timeout-icon i,
.timeout-icon svg,
.alert-icon i,
.alert-icon svg {
	width: 100%;
	color: orange;
}

.message-dynamic {
	overflow-y: auto;
	overflow: hidden!important;
}

div.message-dynamic:hover {
	overflow:auto!important;
	overflow-y:hidden!important;
}

.insurer-img i,
.insurer-img svg {
	position: absolute;
	top: 0;
	left: 0;
	cursor: grab;
}

.loading img {
	position: relative;
	left: 0px;
	top: 10px;
}

.produto-adicional {
	width: 77px;
	margin: 8px auto;
    padding: 9px;
    background-color: #eee;
    color: #717c86;
    font-size: 10px;
    font-weight: bold;
}

.code a {
	color: white;
	text-decoration: none;
	padding-left: 10px;
}

.inactive {
    width: 90%;
	float: left;
}

@media screen and (max-width: 1200px) {
    .inactive {
        width: 85%;
    }
}

@media screen and (max-width: 992px) {
    .inactive {
        width: 75%;
    }
}

@media screen and (max-width: 650px) {
    .inactive {
        width: 67%;
    }
}